@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$theme-colors: (
  primary: #313a45,
  secondary: #6c9f9b,
  secondary-light: #bad3c9,
  pink: #fea097,
  pink-light: #fff8f7
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./styles/navigation.scss";
@import "./styles/input.scss";
@import "./styles/typography.scss";
@import "./styles/button.scss";

#root,
body,
html {
  min-height: 100vh;
  background-color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
  height: 100%;
  color: rgb(53, 53, 53);
}

.disabled-button {
  opacity: 0.3;
  pointer-events: none;
}

.cursor-pointer {
  cursor: pointer;
}
